---
Title: Cake.Gulp
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.Gulp is a set of aliases for Cake to help with running Gulp scripts as part of a build.
    </p>

    <h1>Scope</h1>
    <p>Cake.Gulp currently supports the following npm commands:</p>

    <ul>
        <li>Executing gulp from a local installation with arguments</li>
        <li>Executing gulp from a global installation with arguments</li>
    </ul>

    <p>
        My primary goal for the project is to support the build workflow I need as a .NET developer.
    </p>

    <p>
        Cake.Gulp will most likely be paired with <a href="https://github.com/Philo/cake-npm">Cake.Npm</a> to support the installation of gulp itself along with any dependencies your gulp file requires.
    </p>

    <h1>Tests</h1>
    <p>
        Cake.Gulp is covered by a set of unit tests contributed by <a href="https://github.com/nengberg">nengberg</a>.
    </p>
</div>